<div class="row justify-content-center margin" >
    <img class="mb-4" src="./../../../assets/Captura.png" alt="">
    <p class="text-white">
        "Welcome to my website developed with Angular. This platform has been created with the purpose of demonstrating
        my skills and knowledge in application development using this powerful framework. Here, you will find a range of
        functionalities designed to showcase my abilities in Angular.

        One of the main features of this page is the ability to display users stored in a database. You can explore the
        complete list of users and obtain detailed information about each one of them. Additionally, you have the option
        to search and display a specific user based on particular criteria.

        But that's not all—this page also enables the creation of new users. If you wish to add a new user to the
        database, you can fill out a form with the necessary information and save it in the system. Similarly, if you
        need to update the data of an existing user, you can modify their information and save the changes easily.

        Lastly, the page also offers the functionality to delete users. If, for any reason, you need to remove a user
        from the database, you can perform this action securely and quickly.

        I want to emphasize that this page has been developed for demonstration purposes and showcases my skills in
        Angular. Through these functionalities, I aim to demonstrate my knowledge in web application development and my
        ability to implement complex features using Angular.

        I hope you enjoy exploring the functionalities of this page and appreciate the effort that has gone into it!"
    </p>
</div>