<div class="card mt-5">
    <div class="card-body">
        <form (ngSubmit)="submitForm()" #form="ngForm">
            <div class="mb-2">
                <label class="form-label">
                    id
                </label>
                <input type="text" class="form-control" [(ngModel)]="editUser.id" #id="ngModel" name="id" [disabled]="true" required >
            </div>
            <div class="mb-2">
                <label class="form-label">
                    First Name
                </label>
                <input type="text" class="form-control" [(ngModel)]="editUser.firstname" #firstname="ngModel" name="firstname"  required >
                <div class="alert alert-danger mt-2" [hidden]="firstname.valid || firstname.pristine">
                    first name is required
                </div>
            </div>
            <div class="mb-2">
                <label class="form-label">
                    Last Name
                </label>
                <input type="text" class="form-control"  [(ngModel)]="editUser.lastname" #lastname="ngModel"  name="lastname" required>
                <div class="alert alert-danger mt-2" [hidden]="lastname.valid || lastname.pristine">
                    Last name is required
                </div>
            </div>
            <div class="mb-2">
                <label class="form-label">
                    Email
                </label>
                <input type="text" class="form-control" [(ngModel)]="editUser.email" #email="ngModel" name="email"  required>
                <div class="alert alert-danger mt-2" [hidden]="email.valid || email.pristine">
                    email is required
                </div>
            </div>
            <div class="mb-2">
                <label class="form-label">
                    avatar
                </label>
                <input type="file" class="form-control" [(ngModel)]="editUser.avatar"  #avatar="ngModel" name="avatar"  required>
                <div class="alert alert-danger mt-2" [hidden]="avatar.valid || avatar.pristine">
                    avatar is required
                </div>
            </div>
            <button class="btn btn-primary">submit</button>
        </form>
    </div>
</div>
