<div class="row">

    <div class="col-md-4" user="ngModel" *ngFor="let user of users">

        <div class="card  mt-4">
            <a class="text-decoration-none" [routerLink]="['user', user.id]" routerLinkActive="active-link">
                <img [src]="user.avatar" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2>{{user.firstname}} {{user.lastname}}</h2>
                    <p class="card-text">{{user.email}}</p>
                </div>
            </a>
            <div class="d-flex justify-content-between">
                <button [routerLink]="['users', user.id]" routerLinkActive="active-link"
                    ngClass="btn btn-warning">update</button>
                <button (click)="deleteUser(user.id)" class="btn btn-danger">delete</button>
            </div>
        </div>


    </div>
</div>
